<div ng-controller="controller_onsite_login">
	<title>Onsite Login</title>
  <link rel="stylesheet" href="../client/lib/assets/dist/style.css">
  <div class="container">
      <div class="row">
	  <img src="../client/lib/assets/img/logo_logo.png" class="logo"/>
          <div class="card card-container">
            <h3	class="text-center h3_text_color">Onsite Login</h3>
              <img id="profile-img" class="profile-img-card" src="../client/lib/assets/images/admin.jpg" />
              <p id="profile-name" class="profile-name-card"></p>
              <div class="form-group" style="margin-top:-24%">
                  <div class="input-group input-group-md" id="input_top_margin">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <div class="icon-addon addon-md">
                          <input 
                          	type="text" 
                          	placeholder="Username" 
                          	class="form-control" 
                          	id="email"
                          	ng-model="onsite_user.user_name"
                          >
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group input-group-md">
                      <span class="input-group-addon back"><i class="glyphicon glyphicon-lock"></i></span>
                      <div class="icon-addon addon-md">
                          <input 
                          	type="password" 
                          	placeholder="Password" 
                          	class="form-control" 
                          	id="email"
                          	ng-model="onsite_user.password"
                          >
                      </div>
                  </div>
              </div>
              <a 
              	class="signin_btn_link"
              >
              	<button 
              		class="btn btn-lg btn-primary btn-block btn-signin" 
              		type="submit" 
              		style="font-size: 20px; 
              		font-weight: 900;"
              		ng-click="login_onsite_user(onsite_user)"
              	>Sign in &nbsp; 
              		<i class="glyphicon glyphicon-menu-right"></i>
              	</button>
             </a>
             <br>
	         <div ng-if="user_logged_sucessfully_message" class="alert alert-success">
			  <strong>User Logged Successfully !</strong>
			</div>
	         <div ng-if="user_enter_wrong_username_and_password" class="alert alert-danger">
			  <strong>Invalid User Name And Password !</strong>
			</div>
          </div>
      </div>
    </div>
</div>