<div ng-controller='controller_sponsor_dashboard'>
	<link rel="icon" type="image/gif/png" href="lib/assets/img/logo_logo.png">
	<link href="../client/lib/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="../client/lib/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../client/lib/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../client/lib/assets/css/animate.min.css" rel="stylesheet" />
	<link href="../client/lib/assets/css/style.min.css" rel="stylesheet" />
	<link href="../client/lib/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="../client/lib/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="../client/lib/assets/css/custom_style.css" rel="stylesheet"/>
	
	<link href="../client/lib/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
	<link href="../client/lib/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="../client/lib/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<!--    <link href="../client/lib/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />-->
	
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div ng-include="'client/panels/common_things/fixed_header/fixed_header.ng.html'"></div>
		</div>
		<div ng-include="'client/panels/common_things/fixed_sponsor_sidebar/fixed_sponsor_sidebar.html'"></div>
		<div id="content" class="content">
			<ol class="breadcrumb pull-right">
				<li><a href="/#/sponsor_dashboard">Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
			<h1 class="page-header custom_color">Dashboard <!-- <small>header small text goes here...</small> --></h1>
		  	<hr/>
			<div class="panel panel-inverse clearfix" data-sortable-id="table-basic-5">
			<div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                   
                </div>
                <h4 class="panel-title">Uploaded Videos</h4>
	        </div>
			<div class="row">
				<div id="gallery1" class="gallery">
		                <div ng-repeat="each_video in video_data | orderBy:'video_name' | limitTo:-6" class="image gallery-group-1 pull-left video_size">
			                    <div class="image-inner">
			                        
									 <video width="300" height="195" class="responsive" controls>							
										<source src="{{each_video.video_url}}" type="video/mp4">
									 </video>                      	
			                    </div>
								<br>
		                    <center>
			                    <button 
			                    	style="margin: 5px" 
			                    	class="btn btn-primary btn-sm"
			                    	ng-disabled="each_video.video_status == 1"  
			                    	ng-click="approve_video(each_video)"
			                    >Approve Video
			                    </button>
			                    <button 
			                    	class="btn btn-warning btn-sm"
			                    	ng-disabled="each_video.video_status == 2"  
			                    	ng-click="dis_approve_video(each_video)"
			                    >Disapprove Video
			                    </button>
		                    </center>
								<br/>
								<br/>
			                    <div class="image-info">
			                        <h5 class="title">{{each_video.video_name}}</h5>
			                        <div class="pull-right"> 
			                        </div>                        
			                        <div class="desc">
			                            {{each_video.video_description}}
			                        </div>
			                    </div>
							</div>
		          </div>
					<a 
						href="javascript:;" 
						class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" 
						data-click="scroll-top"
					>
						<i class="fa fa-angle-up"></i>
					</a>
			</div>
		</div>
		</div>
	</div>
	
	<script src="../client/lib/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="../client/lib/assets/plugins/pace/pace.min.js"></script>
	<script src="../client/lib/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="../client/lib/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="../client/lib/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../client/lib/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../client/lib/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<!--	<script src="../client/lib/assets/plugins/gritter/js/jquery.gritter.js"></script>-->
	<script src="../client/lib/assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="../client/lib/assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="../client/lib/assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="../client/lib/assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="../client/lib/assets/plugins/sparkline/jquery.sparkline.js"></script>
	<script src="../client/lib/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="../client/lib/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="../client/lib/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../client/lib/assets/js/dashboard.min.js"></script>
	<script src="../client/lib/assets/js/apps.min.js"></script>
	
	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
	</script>
</div>
